{% load static %}

<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src={% static "bataille/js/bataille.js" %}></script>
<script src={% static "js/socket.js" %}></script>
<script src={% static "js/game.js" %}></script>

<head>
    <title>Skillstone - En partie</title>
    <link rel="stylesheet" type="text/css" href={% static "css/board.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "bataille/css/bataille.css" %}>
</head>

<body>
    <!--<script src={% static "js/play.js" %}></script>-->

    <div id="user" style="display:none ">{{ user.username }}</div> <!-- balise cachée qui nous sert à passer l'user actuel au JS -->

    <div id="board">

        <div id="oponentHand">
               <!-- ajout de TR/TD dynamiquement en fonction de la hand -->
        </div>
        <div id="oponentBoard">
               <!-- ajout de TR/TD dynamiquement en fonction du board   -->
        </div>

        <div id="myDeck">
               <!-- ajout de TR/TD dynamiquement en fonction du board   -->
        </div>
        <div id="myHand">
               <!-- ajout de TR/TD dynamiquement en fonction de la hand -->
        </div>


        <input type="button" onclick="draw(1)"> <!-- TODO : 1 a changer par le nombre de cartes piochée(s) -->
    </div>


    <!-- Bataille -->
    <div id="bataille" onclick="next_click()">
    	<img id="bataille-logo" src={% static "bataille/img/logo.png" %} draggable="false" style="-moz-user-select: none;" />
    	<br />
    	Le méchant :
    	<div id="comp"></div>
    	<br /> Toi, jeune héros :
    	<div id="vous"></div>
    	<br />


    </div>
    <div id="message-bataille"><span id="message-rotation"></span></div>

<!----------------------------------- parametre pour le JS ---------------------------------------------------->
    <span id="token" style="display: none">{{ token }}</span>
    <input id="deckId" type="input" value="1">



</body>
