{% load static %}

<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src={% static "bataille/js/bataille.js" %}></script>
<script src={% static "js/socket.js" %}></script>
<script src={% static "js/game.js" %}></script>
<link rel="stylesheet" type="text/css" href={% static "css/w3.css" %}>

<head>
    <title>Skillstone - En partie</title>
    <link rel="stylesheet" type="text/css" href={% static "css/board.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "bataille/css/bataille.css" %}>
</head>

<body>
    <!--<script src={% static "js/play.js" %}></script>-->

    <div id="user" style="display:none ">{{ user.username }}</div> <!-- balise cachée qui nous sert à passer l'user actuel au JS -->

    <div id="board">
        <div class="onBoardCard" id="oponenthero" style="height: 200px; width: 200px">
          <img title="HERO 1" src="{% static "img/card/hero1.png" %}" style="height: 200px; width: 200px" />
          <div class="bottom-left" id="hero1-hp">30</div>
        </div>
        <div class="hero" id="myhero" style="height: 200px; width: 200px">
          <img title="HERO 2" src="{% static "img/card/hero2.png" %}" style="height: 200px; width: 200px" />
          <div class="bottom-left" id="hero2-hp">30</div>
        </div>
        <div id="oponentHand">
               <!-- ajout de TR/TD dynamiquement en fonction de la hand -->
        </div>
        <div id="oponentBoard">
               <!-- ajout de TR/TD dynamiquement en fonction du board   -->
        </div>

        <div id="myBoard">
               <!-- ajout de TR/TD dynamiquement en fonction du board   -->
        </div>
        <div id="myHand">
               <!-- ajout de TR/TD dynamiquement en fonction de la hand -->
        </div>
        <div id="game-btn">
        <input class="w3-button w3-black w3-padding-large w3-large w3-margin-top" id="attack-button" type="button" value="Attaquer">
          <input class="w3-button w3-black w3-padding-large w3-large w3-margin-top" id="pass-button" type="button" value="Passer">
          <input class="w3-button w3-black w3-padding-large w3-large w3-margin-top" id="draw-button" type="button" value="Piocher" onclick="draw(1)" style="display: none;">
        </div>
    </div>

    <!-- 2 JEUX POUR LE PRIX D'UN : C'EST POUR LE LOL -->
    <!-- Bataille -->
    <div id="bataille" onclick="next_click()">
    	<img id="bataille-logo" src={% static "bataille/img/logo.png" %} draggable="false" style="-moz-user-select: none;" />
    	<br />
    	Le méchant :
    	<div id="comp"></div>
    	<br /> Toi, jeune héros :
    	<div id="vous"></div>
    	<br />


    </div>
    <div id="message-bataille"><span id="message-rotation"></span></div>

<!----------------------------------- parametre pour le JS ---------------------------------------------------->
    <span id="token" style="display: none">{{ token }}</span>
    <input id="deckId" type="input" value="1" style="display: none" />



</body>
