{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href={% static "css/w3.css" %}>
<link rel="stylesheet" type="text/css" href={% static "css/profile.css" %}>

<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static "js/deck.js" %}"></script>

<body>
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{% url 'profile' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">
      <img id="img-logo" src="{% static 'img/img-logo.png' %}" draggable="false" style="-moz-user-select: none;"/>
    </a>
    <a href="{% url 'collection' %}" class="w3-bar-item w3-button w3-padding-large w3-white">Mon Deck</a>
    <a href="https://github.com/CouvignouJules/SkillStone" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Github</a>
    <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Déconnexion</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="{% url 'collection' %}" class="w3-bar-item w3-button w3-padding-large">Mon Deck</a>
      <a href="https://github.com/CouvignouJules/SkillStone" class="w3-bar-item w3-button w3-padding-large">Github</a>
    <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-padding-large">Déconnexion</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
    <span id="token" style="display: none">{{ token }}</span>
    <h2 class="w3-margin w3-jumbo">Mon deck</h2>
    <div id="cardCollection" style="text-align: center">
        <h3>collection de carte</h3>
        <table>
        {% for myCards in cardCollection %}
            {% for card in cards %}
                {% if myCards.name == card.name %}
                    <tr>
                        <td class="card" id="{{ card.id }}">{{ card.name }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </table>
    </div>
    <div>
        <input type="text" id="nomdeck" placeholder="nom du deck">
        <table id="newdeck">

        </table>
        <input type="button" id="senddeck" value="crée le deck">
    </div>
    <div id="deckCollection" style="text-align: center">
        <h3>collection de deck</h3>
        <table>
            {% for mydecks in deckCollection %}
                {% for deck in decks %}
                    {% if mydecks.name == deck.name %}
                        <tr>
                            <td class="deck" id="{{ deck.id }}">{{ deck.name }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>
    </div>
</header>


<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
